---
// BaseLayout.astro: This layout component provides the fundamental HTML structure for all pages.
// It includes meta tags, font imports, a header with navigation and theme toggle, and a main content area.

interface Props {
  title: string; // Defines the title property for the page.
}

const { title } = Astro.props; // Extracts the title from Astro's props.

import ThemeToggle from "../components/ThemeToggle.astro"; // Imports the theme toggle component.
import "../styles/global.css"; // Imports global styles for the application.
---

<html lang="en">
  <!-- The main HTML document structure. -->
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="/images/94006FEB-04DF-4F69-AC71-DC261E49CB5F.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- The body contains the main content, header, and scripts. -->
    <header class="main-header">
      <div class="site-branding">
        <a href="/" class="site-title">
          <img
            src="/images/94006FEB-04DF-4F69-AC71-DC261E49CB5F.png"
            alt="Alien Logo"
            class="site-logo"
          />
        </a>
      </div>
      <nav class="main-nav" id="main-navigation">
        <ul class="nav-list">
          <li><a href="/" class="nav-link">Home</a></li>
          <li><a href="/about" class="nav-link">About</a></li>
          <li><a href="/projects" class="nav-link">Projects</a></li>
        </ul>
      </nav>
      <div class="nav-actions">
        <ThemeToggle />
        <button class="hamburger-menu" aria-label="Toggle navigation">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
      </div>
    </header>
    <main>
      <slot />
    </main>
    <script src="../scripts/navbar.js"></script>
    <!-- Imports the JavaScript for handling navigation interactions. -->
  </body>
</html>
